
<h4 color="primary" style="padding: 10px;">All Forms</h4>
<div fxLayout="row" fxLayout.xs="column" fxLayoutGap="20px" style="padding: 10px;" >
  <ng-container *ngFor="let fm of forms" >
    <div fxFlex='25'>
      <mat-card  style="cursor: pointer;">
        <mat-card-title [routerLink]="['/auth/custom-forms/form-detail',fm.id]">{{fm['title']}}</mat-card-title>
          <mat-card-footer>
            <mat-divider></mat-divider>
            <div style="padding: 10px;text-align: right;">
              <button mat-button (click)="openSharedUsersDialog(fm)"><mat-icon iconsmall>people</mat-icon> Shared Users</button>
              <button mat-button (click)="openShareDialog(fm)"><mat-icon iconsmall>share</mat-icon> Share</button>
               <button mat-button (click)="removeForm(fm,fm.id)"><mat-icon iconsmall>delete</mat-icon> Remove</button>
            </div>
          </mat-card-footer>
      </mat-card>
    </div>
  </ng-container>
</div>
