<div>
  <mat-toolbar color="primary">
    <h4>{{indicators.name}}</h4>
    <span class="spacer"></span>
    <button mat-button mat-dialog-close class="close-button" style="float: right">
      <mat-icon> close</mat-icon>
    </button>
  </mat-toolbar>
  <mat-dialog-content>
    <div [formGroup]="dataEntryForm">
      <mat-toolbar fxLayout="row" fxLayoutGap="50px" style="padding: 50px;">
          <span class="spacer"></span>
          <mat-form-field style="width:70%;">
              <mat-select formControlName="fields"  placeholder="Calculation method" formControlName="calculatioMethod">
                <mat-option *ngFor="let calculation of calculaitonMethod" [value]="calculation.name" (onSelectionChange)="calculationMethodSelected(calculation.name)">{{calculation.name}}</mat-option>
              </mat-select>
            </mat-form-field>

        <mat-form-field style="width:70%;" >
          <mat-select placeholder="Select fields to be calculated" multiple formControlName="fields">
            <mat-option *ngFor="let co of columnName;" (onSelectionChange)="fieldSelected(co)">{{co}}</mat-option>
          </mat-select>
        </mat-form-field>

        <button mat-raised-button color="primary" (click)="calculate()">Calculate</button>
      </mat-toolbar>
      <table class="table table-hover table-bordered" id="data-table" style="width: 100%;">
        <thead>
          <tr >
            <th style="text-transform: capitalize;" *ngFor="let c of columnName">{{c}}</th>
          </tr>
        </thead>
        <tbody class="displayer">
          <tr *ngFor="let data of json;">
            <td *ngFor="let co of columnName;">{{data[co]}}</td>
          </tr>
        </tbody>
        <tbody >
          <tr class="total" style="display:none;background-color: burlywood;">
            <td *ngFor="let c of columnName" id="{{c}}"></td>
          </tr>
        </tbody>
      </table>
      <div fxLayout="column" layoutAlign="center" class="disaggregations">
         
      </div>
    </div>  
  </mat-dialog-content>
</div>
