<div>
  <mat-toolbar style="background-color: white;">
    <span style="text-align:left;">Add actual value</span>
    <span class="spacer"></span>
    <button mat-button mat-dialog-close class="close-button" style="float: right">
      <mat-icon> close</mat-icon>
    </button>
  </mat-toolbar>

  <mat-dialog-content  style="overflow-y: hidden;height:100%">
    <div fxFlex fxLayout="row">
      <div fxFlex="30">
        Grand Total
      </div>
      <div fxFlex="40">
      </div>
      <div fxFlex="30">
        <button mat-raised-button color="primary">Calculate</button>
      </div>
    </div>
  </mat-dialog-content>
</div>
