<div *ngIf="activity" fxLayout="row"   class="components-container-gt-xs">
  <div fxFlexFill>
    <mat-toolbar>
      <h1 class="mat-headline center-align">{{activity['name']}}</h1>
    </mat-toolbar>
  </div>
</div>
<div *ngIf="activity" fxLayout="row" fxLayout.xs="column" class="components-container-gt-xs" [ngClass.xs]="'components-container-xs'" style="padding-top: 0;" fxLayoutGap="5px">
  <div fxFlex="30" >
    <mat-card>
      <mat-card-title>status</mat-card-title>
      <mat-card-content>
        <span class="my-badge status-progress">{{activity['status'][0]['name']}}</span>
      </mat-card-content>
    </mat-card>
    <br>
    <mat-card>
      <mat-card-title>Description
        <button *ngIf="!activity['description']" type="button" color="primary" mat-button style="float: right;">
          <mat-icon>edit</mat-icon>Description
        </button>
      </mat-card-title>
      <mat-card-content *ngIf="activity['description']">{{activity['description']}}</mat-card-content>
    </mat-card>
    <br>
    <mat-card>
      <mat-card-title>Details</mat-card-title>
      <mat-card-content>
        <mat-list>
          <mat-list-item><span style="font-weight: bold;">Start Date:</span> <span style="padding-left: 1em;">{{activity['start_date'] |date}}</span></mat-list-item>
          <mat-list-item><span style="font-weight: bold;">End Date:</span> <span style="padding-left: 1em;">{{activity['end_date'] |date}}</span></mat-list-item>
          <mat-list-item><span style="font-weight: bold;">Output</span> <span style="padding-left: 1em;">{{activity['output'][0]['name']}}</span></mat-list-item>
          <mat-list-item><span style="font-weight: bold;">Location</span> <span style="padding-left: 1em;">{{activity['kebele'][0]['name']}}</span></mat-list-item>
          <mat-list-item><span style="font-weight: bold;">Category</span> <span style="padding-left: 1em;">{{activity['category'][0]['name']}}</span></mat-list-item>
        </mat-list>
      </mat-card-content>
    </mat-card>
  </div>
  <div fxFlex="70">
    <mat-card>
      <mat-card-title>Files
        <input #fileIn type="file" [hidden]="true" [fileUploadInputFor]= "fileUploadQueue"/>
        <button mat-button type="button" color="primary" style="float: right;" (click)="browse(fileIn)" ><mat-icon>cloud_upload</mat-icon> upload</button>
        <mat-file-upload-queue #fileUploadQueue
                               [fileAlias]="'file'"
                               [httpUrl]="uploadURL">

          <mat-file-upload [file]="file" [id]="i" *ngFor="let file of fileUploadQueue.files; let i = index"></mat-file-upload>
        </mat-file-upload-queue>
      </mat-card-title>
      <mat-card-content>
        <table mat-table style="width: 100%;" [dataSource]="files">

          <ng-container matColumnDef="No">
            <th mat-header-cell *matHeaderCellDef> No </th>
            <td mat-cell *matCellDef="let file; let i = index"> {{i+1}} </td>
          </ng-container>

          <ng-container matColumnDef="Name">
            <th mat-header-cell *matHeaderCellDef> Name </th>
            <td mat-cell *matCellDef="let file;"> {{file['name']}} </td>
          </ng-container>

          <ng-container matColumnDef="Tag">
            <th mat-header-cell *matHeaderCellDef> Tag </th>
            <td mat-cell *matCellDef="let file;"> {{file['tag'] | tag}} </td>
          </ng-container>

          <ng-container matColumnDef="Date">
            <th mat-header-cell *matHeaderCellDef> Date </th>
            <td mat-cell *matCellDef="let file;"> {{file['created_at']['date'] |date}} </td>
          </ng-container>
          <ng-container matColumnDef="User">
            <th mat-header-cell *matHeaderCellDef> Name </th>
            <td mat-cell *matCellDef="let file;"> {{file['user']['name']}} </td>
          </ng-container>

          <ng-container matColumnDef=" " stickyEnd>
            <th mat-header-cell *matHeaderCellDef>  </th>
            <td mat-cell *matCellDef="let file;">
              <button mat-icon-button type="button" (click)="downloadFile(file['file_path'])"><mat-icon>cloud_download</mat-icon></button>
              <button mat-icon-button type="button"><mat-icon>delete</mat-icon></button>
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="columns"></tr>
          <tr mat-row *matRowDef="let row; columns: columns;"></tr>
        </table>
      </mat-card-content>
    </mat-card>
    <br>
    <mat-card>
      <mat-card-title>
        Work plan
        <button mat-raised-button color="primary" style="float: right;" (click)="opendAddMilestoneDialog()">
          <mat-icon>add</mat-icon>
          Milestone
        </button>
      </mat-card-title>
      <mat-card-content>
        <app-work-plan [project]="plans"></app-work-plan>
      </mat-card-content>
    </mat-card>
    <br>
    <mat-card>
      <mat-card-title>
        Milestone Target
        <button mat-raised-button color="primary" style="float: right;">
          <mat-icon>add</mat-icon>
          actual value
        </button>
      </mat-card-title>
      <mat-card-content>{{activity['description']}}</mat-card-content>
    </mat-card>
  </div>
</div><br><br><br><br><br><br>
