<div>
  <h2 mat-dialog-title color="primary">Create a new custom form</h2>
<mat-dialog-content [formGroup]="createForm" style="height:100%" style="overflow-y: hidden;">
  <mat-form-field class="example-container">
    <input type="text" matInput placeholder="title" name="title" formControlName="title" required>
  </mat-form-field>

  <mat-form-field class="example-container">
    <textarea name="" id="" cols="10" rows="5" matInput placeholder="description" name="description" formControlName="description"></textarea>
  </mat-form-field>
  <span>Visbility</span><br>
  <span style="padding: 10px;"></span><br>
  <mat-checkbox [checked]="true">Public</mat-checkbox>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-raised-button  (click)="close()" color="accent">Close</button>
  <button mat-raised-button mat-primary (click)="save()" color="primary" [disabled]="loading || createForm.invalid">Save
    <img *ngIf="loading" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
  </button>
</mat-dialog-actions>
</div>
