<div  fxLayout="column" class="components-container-gt-xs" [ngClass.xs]="'components-container-xs'" >
  <mat-toolbar>
    <h1 class="mat-headline center-align">Activities</h1>
  </mat-toolbar>
  <table fxFlexFill mat-table [dataSource]="activities">

    <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->

    <!-- Position Column -->
    <ng-container matColumnDef="Activity" sticky>
      <th mat-header-cell *matHeaderCellDef> Activity </th>
      <td mat-cell *matCellDef="let activity" style="cursor: pointer;" (click)="detailActivity(activity['id'])"> {{activity['name']}} </td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="Start Date">
      <th mat-header-cell *matHeaderCellDef> Start Date </th>
      <td mat-cell *matCellDef="let activity"> {{activity['start_date'] | date}} </td>
    </ng-container>

    <!-- Weight Column -->
    <ng-container matColumnDef="End Date">
      <th mat-header-cell *matHeaderCellDef> End Date </th>
      <td mat-cell *matCellDef="let activity"> {{activity['end_date'] | date}} </td>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="Status">
      <th mat-header-cell *matHeaderCellDef> Status </th>
      <td mat-cell *matCellDef="let activity"> {{activity['status'][0]['name']}} </td>
    </ng-container>

    <ng-container matColumnDef="Output">
      <th mat-header-cell *matHeaderCellDef style="width: 18%;"> Output </th>
      <td mat-cell *matCellDef="let activity"> {{activity['output'][0]['name']}} </td>
    </ng-container>

    <ng-container matColumnDef="Location">
      <th mat-header-cell *matHeaderCellDef> Location </th>
      <td mat-cell *matCellDef="let activity"> {{activity['kebele'][0]['name']}} </td>
    </ng-container>

    <ng-container matColumnDef="Category">
      <th mat-header-cell *matHeaderCellDef> Category </th>
      <td mat-cell *matCellDef="let activity"> {{activity['category'][0]['name']}} </td>
    </ng-container>

    <ng-container matColumnDef=" " stickyEnd>
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let activity">
        <mat-icon>edit</mat-icon>
        <mat-icon>delete</mat-icon>
        <mat-icon>star <!--star_border--></mat-icon>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</div>
