<table class="table">
    <tr>
        <th rowspan="3">Indicators</th>
       <th colspan="2">Baseleine</th>
       <th rowspan="3">City</th>
       <th colspan="3">contact</th>
     </tr>
     <tr>
        <th rowspan="2">Date</th>
        <th rowspan="2">Value</th>
        <th rowspan="2">Mobile </th>
        <th colspan="2">Email</th>
      </tr>	
          <tr>
             <th>Gmail</th>
              <th>Others</th>
           </tr>
        <tr>
            <td>Indicator</td>
          <td> Id1</td>
          <td>Id a1</td>
          <td>U.s </td>
          <td>1234567898</td>
          <td>xxxx@gmail.com</td>
          <td>zyz@yahoo.com</td>
         </tr>

    <tr>
        <td>Indicator</td>
          <td> Id2</td>
          <td>Id a</td>
          <td>U.s </td>
          <td>098776543</td>
          <td>zzzzz@gmail.com</td>
          <td>zyz@yahoo.com</td>
         </tr>	
                              
   </table>