<div fxLayout="column" class="components-container-gt-xs" [ngClass.xs]="'components-container-xs'" fxLayoutGap="20px" style="height:900px;">
    <div fxFlex class="program-component-holder mat-elevation-z4">
      <mat-toolbar color="primary">
        <mat-icon>star_rate</mat-icon> <span *ngFor="let f of forms" style="margin-left: 5px;">{{f['title']}}</span>
  
        <!-- This fills the remaining space of the current row -->
        <span class="example-fill-remaining-space"></span>
  
        <div fxLayoutGap="20px" fxLayout="row" style="padding-right: 20px;"><span class="example-fill-remaining-space"></span>
        </div>
      </mat-toolbar>
  
      <mat-toolbar>
        <span><mat-icon color="primary">info</mat-icon>Drag The Item here</span>
  
        <!-- This fills the remaining space of the current row -->
        <span class="example-fill-remaining-space"></span>
        <button (click)="save()" mat-raised-button color="primary" matTooltip="Save this form" [disabled]="loading"><mat-icon>save</mat-icon> Save</button>
      </mat-toolbar>
      <div
       fxLayout="row"
       fxLayoutGap="10px"
       fxLayoutGap.xs="0">
          <div fxFlex="30%">
            <div>
              <ul class="list-group">
                <li data="<div style='padding-left:15px;' id='holder' draggable='true'><label class='editable' >Text name</label><p id='label-editor' style='display:none;'><span class='btn-link edit'>Edit</span> <span class='btn-link remove' style='margin-left:15px;'>Remove</span></p></div>"  id="drag1" class="list-group-item" draggable="true"><span class="fa fa-font"> Text</span></li>
                
                <li data="<div style='padding:10px 35px 0px 15px;margin-bottom:50px;width:700px;' id='holder' class='input-holder' draggable='true'>
                  <div class='form-group' id='form-group'>
                    <label class='col-md-4 col-sm-4' id='input-label' style='font-size:20px;'>Provide Name <span class='right text-success'><small>E.g Full name,Crop type</small></span></label>
                    <input class='form-control col-md-8 col-sm-8' type='text'>
                  </div>
                <p id='label-editor' style='display:none;'><span class='btn-link edit'>Edit</span> <span class='btn-link remove' style='margin-left:15px;'>Remove</span></p>
                </div>" id="input-drager" class="list-group-item" draggable="true"><span class="fa fa-wpforms"> Text Field</span></li>
               
                <li id="dropDown-drager" data="<div id='holder' style='padding:10px 35px 0px 15px;margin-bottom:50px;width:700px;'>
                  <div class='form-group' id='form-group'>
                      <label id='select-label' style='margin-bottom:20px;font-size:20px;' for='dropDown'>write select type e.g gender</label>
                      <select class='form-control col-md-9 col-sm-8' id='dropDown' class='form-control'></select>
                      <span id='addDropDownOption' class='fa fa-plus' style='margin-left:40px;margin:10px;font-size:20px;'> Add option</span>
                  </div>
                  <p id='dropDown-editor' style='display:none;'><span class='btn-link edit'>Edit</span> <span class='btn-link remove' style='margin-left:15px;'>Remove</span></p>
                </div>" class="list-group-item" draggable="true"><span class="fa fa-chevron-down"> drop down</span></li>

                <li id='textarea-drager' data="<div id='holder' style='padding:10px 35px 0px 15px;margin-bottom:50px;width:700px;'>
                    <div class='form-group' id='form-group'>
                      <label id='textarea-label' class='col-md-4 col-sm-4' style='font-size:20px;'>Provide name for this text area. <span class='text-success'><small>E.g tell us what probelm have you got,send us problems that arises</small></span></label>
                      <textarea cols='20' rows='10' class='form-control'></textarea>
                    </div>
                    <p id='dropDown-editor' style='display:none;'><span class='btn-link edit'>Edit</span> <span class='btn-link remove' style='margin-left:15px;'>Remove</span></p>
                  </div>" class="list-group-item" draggable="true">
                    <span>Text area</span>
                  </li>
                
                  <li id="file-drager" data="<div id='holder' style='padding:10px 35px 0px 15px;margin-bottom:50px;width:700px;'>
                    <div class='form-group file-form' id='form-group'>
                        <label id='file-label' style='font-size:20px;'>Write identifier for your file <span class='text-success'><small>e.g photo</small></span></label><br><br><label for='file' style='display:none;' id='hiden-file-label'></label><br>
                        <input id='file' type='file' name='files' style='margin-top:-150px;'>
                    </div>
                  <p id='dropDown-editor' style='display:none;'><span class='btn-link edit'>Edit</span> <span class='btn-link remove' style='margin-left:15px;'>Remove</span></p>
                  </div>" draggable="true" class="list-group-item">
                  <span class="fa fa-file"> File</span>
                </li>
                <li id="location-drager" data="<div id='holder' style='padding:10px 35px 0px 15px;margin-bottom:50px;width:700px;'>
                  <div class='form-group location-form' id='form-group'>
                      <label class='location-editable' style='font-size:20px;'>Say something for data collectors <span class='text-success'><small>E.g please send us the exact location of water Pod development project</small></span></label><br><br><label for='file' style='display:none;' id='hiden-file-label'></label><br>
                      <a class='fa fa-map-marker location' style='font-size:50px;margin-top:-150px;cursor:pointer;'></a>
                      <input class='location' id='file' type='text' name='location' style='margin-top:-150px;display:none;'>
                  </div>
                <p id='dropDown-editor' style='display:none;'><span class='btn-link edit'>Edit</span> <span class='btn-link remove' style='margin-left:15px;'>Remove</span></p>
                </div>" draggable="true" class="list-group-item">
                <span class="fa fa-map-marker"> Longtude and latitude</span>
              </li>
                <li id="message-drager" data="<div style='padding:10px 35px 0px 15px;margin-bottom:50px;width:700px;' id='holder' draggable='true'>
                  <label class='message-editable' style='font-size:20px;' >write message</label>
                  <p id='dropDown-editor' style='display:none;'><span class='btn-link edit'>Edit</span> <span class='btn-link remove' style='margin-left:15px;'>Remove</span></p>
                 </div>" class="list-group-item" draggable="true">
                 <span class="fa fa-comment"> Message</span>
                </li>
              </ul>
            </div>
          </div>
  
  
          <div class="item item-2" fxLayout="column"  fxFlex="70%" fxFlexOrder="3">
            <div id="dragCopy" style="height:720px;overflow:auto;margin: 10px;">
                
            </div>
          </div>
      </div>
  </div>
   </div>
  
  