<div>
    <mat-toolbar style="background-color: white;">
        <span class="spacer"></span>
        <button mat-button mat-dialog-close class="close-button" style="float: right" (click)="closeDialog()">
          <mat-icon> close</mat-icon>
        </button>
      </mat-toolbar>
  <h2 mat-dialog-title>Edit {{indicator['name']}} Indicator</h2>
  <mat-divider></mat-divider>
  <mat-card [formGroup]="editForm" style="margin-bottom:100px;">
      <mat-card-content fxFlex="90">
          <mat-form-field class="full-width">
              <label for="name">Name</label>
              <input type="text" matInput [(ngModel)]="indicator['name']" formControlName="name" name="name" style="margin-top:10px;">
          </mat-form-field>

          <mat-form-field class="full-width">
            <label for="description">Description</label>
            <textarea type="text" [(ngModel)]="indicator['description']" matInput name="description" formControlName="description" rows="5" cols="5"></textarea>
          </mat-form-field>

          <h4 style="color: #242424">Type</h4>
          <mat-form-field style="width: 100%;">
            <mat-select  formControlName="type" [(ngModel)]="selectedDataType['name']">
              <mat-option *ngFor="let pr of dataType" [value]="pr.name" >{{pr.name}}</mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field style="width:40%;margin-right: 20%;">
            <label for="baseLineValue">Target value</label>
            <input type="text" matInput name="baseLine" formControlName="baseLine" [(ngModel)]="indicator['target_value']" style="text-align:right;padding-right:10px;">
          </mat-form-field>

          <mat-form-field style="width:40%">
            <label for="baseLineData">Baseline value</label>
            <input type="text" matInput name="baseLineDate" formControlName="baseLineDate" [(ngModel)]="indicator['baseline_value']" style="text-align:right;padding-right:10px;">
           </mat-form-field>



           <div fxLayout="row">
              <div  style="width:40%;margin-right: 20%;">
                  <h4 style="color: #242424">Measuring Unit</h4>
                  <mat-form-field style="width: 100%;">
                    <mat-select  formControlName="measuringUnit" [(ngModel)]="selectedMeasuringUnit['name']">
                      <mat-option *ngFor="let unit of measuringUnit" [value]="unit.name" >{{unit.name}}</mat-option>
                    </mat-select>
                  </mat-form-field>
              </div>
              <div style="width:40%">
                  <h4 style="color: #242424">Frequency</h4>
                  <mat-form-field style="width: 100%;">
                    <mat-select  formControlName="frequency" [(ngModel)]="selectedFrequency['name']">
                      <mat-option *ngFor="let fr of frequencies" [value]="fr.name" >{{fr.name}}</mat-option>
                    </mat-select>
                  </mat-form-field>
              </div>
           </div>

           <mat-form-field class="full-width">
              <label for="name">Primary Source of data</label>
              <input type="text" matInput [(ngModel)]="indicator['source']" formControlName="source" name="source" style="margin-top:10px;">
          </mat-form-field>

         <!--custom form linkage with indicators-->
            <h4 style="color: #242424">Link to custom form:</h4>
            <mat-checkbox (change)="showCustoForms($event)" >link custom form</mat-checkbox>
            <div *ngIf="isCustomFormChecked" style="padding:10px;">

              <div *ngIf="customForms.length>0;then customFormOne;else customFormTwo"></div><!--check if custom form is designed-->

              <ng-template #customFormOne>
                <div *ngIf="isConnected;then connectedContent;else notConnected"></div><!--check if this indicator is connected with any custom form-->
                <ng-template #connectedContent>
                  
                      <p style="color:#3c763d;font-size:16px;">
                          This indicator is Allready connected with custom form named <span style="color:royalblue;margin-right: 20px;">{{customForm['title']}}</span>
                          <button mat-raised-button color="primary" fxFlex="5" (click)="edit()"><mat-icon>edit</mat-icon>Edit</button>
                        </p>

                </ng-template>
                <ng-template #notConnected>
                    <h4 style="color: #242424">Select Custom Form:</h4>
                    <mat-form-field style="width: 100%;">
                      <mat-select placeholder="custom form" formControlName="customForm"  name="customForms" >
                        <mat-option *ngFor="let form of customForms" [value]="form.id" (onSelectionChange)="customFormSelected(form)">{{form['title']}}</mat-option>
                      </mat-select>
                    </mat-form-field>

             <!--custom form calculation method-->
              <h4 style="color: #242424">Select Calculation method:</h4>
              <mat-form-field style="width:100%;">
                <mat-select formControlName="calculationMethod" placeholder="Calculation method">
                  <mat-option *ngFor="let calculation of calculationMethod" [value]="calculation.id">{{calculation.name}}</mat-option>
                </mat-select>
              </mat-form-field>
            <!--end of custom for calculation method-->

            <!--customf form fields to be calculated-->
            <h4 style="color: #242424">Select Form fields(attributes) to be calculated:</h4>
              <mat-form-field style="width:100%;">
                <mat-select formControlName="fields" multiple placeholder="Calculation method">
                  <mat-option *ngFor="let column of columnName" [value]="column" (onSelectionChange)="fieldsSelected(column)">{{column}}</mat-option>
                </mat-select>
              </mat-form-field>
            <!--end of custom form fields to be calculated-->
                </ng-template>
              </ng-template>

              <ng-template #customFormTwo>
                <p style="color:red;font-size:16px;">Custom form is not created. Please design custom form for this indicator and start collecting your data</p>
              </ng-template>
              <!--end of linkaging custom form-->
            </div>
      </mat-card-content>
      <mat-card-actions fxLayoutAlign="center">
        <button mat-raised-button color="primary"(click)="save()" [disabled]="loading||customForms.length<=0">Save
          <img *ngIf="loading" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
        </button>
      </mat-card-actions>
    </mat-card>
</div>
