<div>
    <mat-toolbar style="background-color: white;">
        <span class="spacer"></span>
        <button mat-button mat-dialog-close class="close-button" style="float: right" (click)="closeDialog()">
          <mat-icon> close</mat-icon>
        </button>
      </mat-toolbar>
  <h2 mat-dialog-title>Edit {{indicator['name']}} Indicator</h2>
  <mat-divider></mat-divider>
  <mat-card [formGroup]="editForm" style="margin-bottom:100px;">
      <mat-card-content fxFlex="90">
          <mat-form-field class="full-width">
              <label for="name">Name</label>
              <input type="text" matInput [(ngModel)]="indicator['name']" formControlName="name" name="name" style="margin-top:10px;">
          </mat-form-field>

          <mat-form-field class="full-width">
            <label for="description">Description</label>
            <textarea type="text" [(ngModel)]="indicator['description']" matInput name="description" formControlName="description" rows="5" cols="5"></textarea>
          </mat-form-field>

          <h4 style="color: #242424">Type</h4>
          <mat-form-field style="width: 100%;">
            <mat-select  formControlName="type" [(ngModel)]="selectedDataType['name']">
              <mat-option *ngFor="let pr of dataType" [value]="pr.name" (onSelectionChange)="typeSelected(pr)" >{{pr.name}}</mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field style="width:40%;margin-right: 20%;">
            <label for="baseLineValue">Target value</label>
            <input type="text" matInput name="baseLine" formControlName="baseLine" [(ngModel)]="indicator['target_value']" style="text-align:right;padding-right:10px;">
          </mat-form-field>

          <mat-form-field style="width:40%">
            <label for="baseLineData">Baseline value</label>
            <input type="text" matInput name="baseLineDate" formControlName="baseLineDate" [(ngModel)]="indicator['baseline_value']" style="text-align:right;padding-right:10px;">
           </mat-form-field>



           <div fxLayout="row">
              <div  style="width:40%;margin-right: 20%;">
                  <h4 style="color: #242424">Measuring Unit</h4>
                  <mat-form-field style="width: 100%;">
                    <mat-select  formControlName="measuringUnit" [(ngModel)]="selectedMeasuringUnit['name']">
                      <mat-option *ngFor="let unit of measuringUnit" [value]="unit.name" (onSelectionChange)="typeSelected(unit)">{{unit.name}}</mat-option>
                    </mat-select>
                  </mat-form-field>
              </div>
              <div style="width:40%">
                  <h4 style="color: #242424">Frequency</h4>
                  <mat-form-field style="width: 100%;">
                    <mat-select  formControlName="frequency" [(ngModel)]="selectedFrequency['name']">
                      <mat-option *ngFor="let fr of frequencies" [value]="fr.name" (onSelectionChange)="typeSelected(fr)">{{fr.name}}</mat-option>
                    </mat-select>
                  </mat-form-field>
              </div>
           </div>

           <mat-form-field class="full-width">
              <label for="name">Primary Source of data</label>
              <input type="text" matInput [(ngModel)]="indicator['source']" formControlName="source" name="source" style="margin-top:10px;">
          </mat-form-field>
          <div *ngIf="indicatorDisaggregationIsSet;then contentOne else otherContent"></div>
          <ng-template #contentOne>
            <mat-checkbox  [checked]="isChecked">Disaggregations</mat-checkbox>
          <mat-form-field style="width: 100%;">
              <mat-select  formControlName="disaggregation">
                <mat-option *ngFor="let dis of disaggregationMethod" [value]="dis['id']" >{{dis.name}}</mat-option>
              </mat-select> 
            </mat-form-field>
          </ng-template>

          <ng-template #otherContent>
            <mat-checkbox  [checked]="isChecked">Disaggregations</mat-checkbox>
            <mat-form-field style="width: 100%;">
                <mat-select  formControlName="disaggregation">
                  <mat-option *ngFor="let dis of disaggregationMethod" [value]="dis['id']">{{dis.name}}</mat-option>
                </mat-select>
              </mat-form-field>
            </ng-template>
          
            <div *ngIf="indicatorCalculationMethodIsset;then calculationOne else calculationTwo"></div>

            <ng-template #calculationOne>
              <h4 style="color: #242424">Calculation Method for this indicator</h4>
          <p style="margin-top: -20px;color: gray;">The selected calculation method will determined whether the gloabl value of the indicator is the sum or average
          of disaggregated values{{selectedindicatorCalculationMethod.name}}</p>
          <mat-form-field style="width: 100%;">
            <mat-select  formControlName="indicatorCalcualtionMethod" >
              <mat-option *ngFor="let indicatorCal of calculationMethod" [value]="indicatorCal['id']">{{indicatorCal['name']}}</mat-option>
            </mat-select>
          </mat-form-field>
            </ng-template>

            <ng-template #calculationTwo>
              <h4 style="color: #242424">Calculation Method for this indicator</h4>
              <p style="margin-top: -20px;color: gray;">The selected calculation method will determined whether the gloabl value of the indicator is the sum or average
              of disaggregated values</p>
              <mat-form-field style="width: 100%;">
                <mat-select placeholder="calcualtion method" formControlName="indicatorCalcualtionMethod">
                  <mat-option *ngFor="let indicatorCal of calculationMethod" [value]="indicatorCal['id']">{{indicatorCal['name']}}</mat-option>
                </mat-select>
              </mat-form-field>
            </ng-template>

            

            <mat-checkbox  [checked]="true">Total is automatically calculated</mat-checkbox>

            <h4 style="color: #242424">Link to custom form:</h4>
            <mat-checkbox (change)="showCustoForms($event)" >link custom form</mat-checkbox>
            <div *ngIf="isCustomFormChecked" style="padding:10px;">
              <div *ngIf="customForms.length>0;then customFormOne;else customFormTwo"></div>

              <ng-template #customFormOne>
                <div *ngIf="isConnected;then connectedContent;else notConnected"></div>
                <ng-template #connectedContent>
                  <p style="color:#3c763d;font-size:16px;">This indicator is Allready connected with custom form named <span style="color:royalblue;">{{customForm['title']}}</span></p>
                </ng-template>
                <ng-template #notConnected>
                  <p style="color:#3c763d;font-size:16px;">Note: The selected custom form must have atleast one attribute of this indicator disaggregation</p>
                </ng-template>
                    <h4 style="color: #242424">Select Custom Form:</h4>
                    <mat-form-field style="width: 100%;">
                      <mat-select placeholder="custom form" formControlName="customForm"  name="customForms" >
                        <mat-option *ngFor="let form of customForms" [value]="form.id" (onSelectionChange)="customFormSelected(form)">{{form['title']}}</mat-option>
                      </mat-select>
                    </mat-form-field>
              </ng-template>

              <ng-template #customFormTwo>
                <p style="color:red;font-size:16px;">Custom form is not created. Please design custom form for this indicator and start collecting your data</p>
              </ng-template>
            
            </div>

      </mat-card-content>
      <mat-card-actions fxLayoutAlign="center">
        <button mat-raised-button color="primary"(click)="save()">Save</button>
      </mat-card-actions>
    </mat-card>
</div>
